{% extends 'base.html' %}

{% block header %}
  <header class="mb-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
  <h1>{% block title %}Vendor{% endblock %}</h1>
      <div>
      {% if g.user %}
          <form action="{{ url_for('blog.create') }}">
              <input class="btn btn-secondary" type="submit" value="New Post">
          </form>
      {% endif %}
      </div>
  </div>
  <hr>
  </header>
{% endblock %}

    {% block content %}
      {% for post in posts %}
        <article class="post">
          <header>
            <div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <div>
                      <h2>{{ post['title'] }}</h2>
                      <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                      <br>
                  </div>
                  {% if g.user['id'] == post['author_id'] %}
                    <form action="{{ url_for('blog.update', id=post['id']) }}">
                        <input class="btn btn-secondary" type="submit" value="Edit">
                    </form>
                  {% endif %}
                </div>
            </div>
          </header>
          <p class="body">{{ post['body'] }}</p>
        </article>
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    {% endblock %}
